[Unit]
Description=Chromium Kiosk
Wants=graphical.target
After=graphical.target

[Service]
Environment=DISPLAY=:0.0
Environment=XAUTHORITY=/home/chromium/.Xauthority
Type=simple
ExecStart=/home/chromium/start
Restart=on-abort
User=chromium
Group=chromium

[Install]
WantedBy=graphical.target